@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap');



body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(175, 60, 237, 0.221);
    background-image: url('https://ak-d.tripcdn.com/images/220h0z000000mz6220063_R_800_525.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* div > main {
    color:rgb(249, 246, 245)
} */

th {
    color: lavender;
    text-shadow: 2px 2px 4px #eb3ff7;
}

a {
    /* color: rgb(11, 242, 242); */
    color: white;
    text-shadow: 1px 1px 2px #eb3ff7;
    text-decoration: none;
}

a:hover {
    transition: .5s;
    text-shadow: 1px 1px 3px #b9f939;
}



h2 {

    color: lavender;
    text-shadow: 2px 2px 4px #eb3ff7;
}

h1 {
    color: lavender;
    text-shadow: 2px 2px 4px #eb3ff7;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(1, 1fr);
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: rgba(240, 255, 255, 0.1);
}

/* li:nth-child(even) {
    background-color: rgba(240, 255, 255, 0.1);
} */

ol {
    margin-right: 73%;
}

.color {
    color: rgb(253, 229, 198);
}

main {
    padding: 16px
}

td {
    color: rgb(249, 246, 245);
    text-shadow: 2px 2px 2px #630869;
}

li {
    /* display: table-row; */
    /* vertical-align: middle; */
    /* grid-template-columns: ; */
    color: rgb(171, 246, 246);
    text-shadow: 2px 2px 4px #eb3ff7;
}

footer {
    padding: 16px 16px;
    /* background-color: rgb(245, 243, 249); */
    color: rgb(255, 0, 221);
    text-shadow: 1px 1px whitesmoke;
}
img:hover {
    transition: .5s;
    box-shadow: 1px 3px 3px #b9f939;
}
img {
    height: 200px;
    box-shadow: 1px 3px 3px rgb(171, 247, 247);
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}

iframe:hover {
    transition: .8s;
    box-shadow: 1px 3px 1px #4eed0a;
}
iframe {

    box-sizing: border-box;
    opacity: 0.8;
    box-shadow: 1px 3px 3px rgba(244, 101, 194, 0.99);
    margin-left: 1%;
    border-radius: 16px;
    /* border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px; */
    /* padding-left: 16px;
    padding-bottom: 8px; */
}

footer {
    animation-duration: 3s;
    animation-name: slidein;
    /* animation-iteration-count: infinite; */
}

main {
    animation-duration: 3s;
    animation-name: slidein;
    /* animation-iteration-count: infinite; */
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
